.json-label {
  color: red;
  font-weight: bold;
  vertical-align: top;
  cursor: pointer;
}

.json-value {
  display: inline-block;
  font-weight: bold;
  padding-left: 10px;
}

.open-btn {
  padding: 0;
  background: none;
  border: none;
  outline: none !important;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.toggle-holder {
  vertical-align: top;
  display: inline-block;
  width: 12px;
}

.extra-info {
  font-size: 12px;
  color: grey;
}

.null-undefined {
  color: orange;
}

.value-function {
  color: greenyellow;
}

.value-string {
  color: green;
}

.value-number {
  color: skyblue;
}
